<!DOCTYPE html>
<html>
<body>
<br>
 <style>
    h1 {text-align: center;}
    p {text-align: center;}
    p{font-size: 20px;}
    summary {font-size: 30px;}
     </style>
<h1>Details</h1>

<details>
  <summary>Knn Model</summary>
  <p>{{ strings[0] }}</p>
</details>

<details>
  <summary>Decision Tree</summary>
  <p>{{ strings[1] }}</p>
</details>

<details>
  <summary>Linear SVC</summary>
  <p>{{ strings[2] }}</p>
</details>

<details>
  <summary>Gradient Boosting</summary>
  <p>{{ strings[3] }}</p>
</details>

<details>
  <summary>Extra Tree</summary>
  <p>{{ strings[4] }}</p>
</details>

<details>
  <summary>Random Forest</summary>
  <p>{{ strings[5] }}</p>
</details>

</body>
</html>